<div style="display: flex; width: 100%; align-items: center; flex-direction: column;">
    <img src="https://i.imgur.com/xkLOAzb.png" alt="patitascerca" width="400">
    <div>
        <button routerLink="/home">←</button>
        <h3>
            {{ post.categoria.title }}
        </h3>
        <p>{{ post.descripcion }}</p>
        <img [src]="post.imagen" [alt]="post.categoria" width="300" height="200">
        <br>
        <small>{{ post.ubicacion }}</small>
        <span>
            Creado por: {{ post.usuario.username }}
        </span>
        <!-- <button (click)="handleLike($event, post.id!)" >👍</button> -->
    </div>
    <form>
        <input type="text" placeholder="Comentario...">
        <button>Comentar</button>
    </form>
</div>