.top-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0 2rem;
}

.top-home>.left {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8em;
    cursor: pointer;
}

.logout {
    visibility: hidden;
}

.left:hover>.atuser {
    display: none;
}

.left:hover .logout {
    visibility: visible;
}

.add-post-wrapper { 
    width: 100%;
    padding: 1.3rem 2rem;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: var(--m0);
    display: flex; 
    align-items: center;
     gap: 30px;
}
.add-post-wrapper > textarea { 
    resize: none;
}

.add-post-wrapper > .input-btn { 
    width: 100%;
    border-radius: 100px;
    padding: 8px 25px;
    font-size: 0.85em;
    color: var(--gris);
    background: white;
    text-align: left;
}


.parte-top-post { 
    width: 100%;
    gap: 10px;
    display: flex;
}

.parte-top-post > input { 
    width: 70%;
}
.parte-top-post > select { 
    width: 30%;
}

.parte-bottom-post > input {
    width: 40%;
}
.parte-bottom-post { 
    width: 100%;

    gap: 10px;
    display: flex;
}
.parte-bottom-post > button { 
    width: 60%;
}

.container-logout {
    position: relative;
    width: 55px;
    height: 55px;
}
.container-logout:hover .box-logout { 
    display: flex;
}
.container-logout > .box-logout { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.425);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    display: none;
    backdrop-filter: blur(1px);
    animation: .3s nofalla ease;
}

@keyframes nofalla {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapper-filters {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    gap: 10px 15px;
}
@media (max-width: 995px) {
    .wrapper-filters { 
        flex-direction: column;

    }
}
.container > h5 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--m2);
}