<app-wrapper-app>
    <ng-container *ngIf="isLoginScreen; then loginTemplate else registerTemplate"></ng-container>

    <ng-template #loginTemplate>
        <div class="box-auth">
            <form #formLogin="ngForm" (ngSubmit)="onSubmitLogin(formLogin.value)">
                <br>
                <h2>¡Hola! 👋</h2>
                <p>Bienvenido de nuevo.</p>
                <br>
                <small>Inicie sesión</small>
                <input type="text" name="username" placeholder="Usuario" ngModel>
                <input type="password" name="password" placeholder="Contraseña" ngModel>
                <button type="submit" class="btn-1">Ingresar</button>
        
                <button class="abutton" (click)="changeScreen()">registrarse</button>
            </form>
        </div>
    </ng-template>

    <ng-template #registerTemplate>
        <div class="box-auth">
            <form #formRegister="ngForm" (ngSubmit)="onSubmitRegister(formRegister.value)">

                <br>
                <h2>¡Bienvenido! 👋</h2>
                <p>Complete el formulario para registrarse.</p>
                <br>
                <input type="text" name="username" placeholder="Usuario" ngModel>
                <input type="password" name="password" placeholder="Contraseña" ngModel>
                <input type="email" name="email" placeholder="Correo electrónico" ngModel>
                <input type="text" name="telefono" placeholder="Celular" ngModel>
                <input type="text" name="ciudad" placeholder="Localización" ngModel>
                <input type="text" name="foto" placeholder="URL IMAGEN" ngModel>
                <button class="btn-1">Registrarse</button>
                <small>
                    <button type="submit" class="abutton" (click)="changeScreen()">¿Ya tiene una cuenta?</button>
                </small>

            </form>
        </div>
    </ng-template>
</app-wrapper-app>