<form style="display: flex; flex-direction: column; width: 300px; gap: 10px;">
    <input type="text" placeholder="Nombre de usuario">
    <input type="text" placeholder="Correo electrónico">
    <input type="password" placeholder="Contraseña">
    <input type="text" placeholder="Teléfono">
    <input type="text" placeholder="Ubicación">
    <input type="text" placeholder="URL IMG">
    <input type="text" placeholder="Descripción">
    <button>Registrarse</button>
</form>
<a routerLink="/login">Log in</a>