
.post { 
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    background: rgba(129, 240, 212, 0.041);
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    gap: 20px;
    border: 1px dotted #80fad952;
}
.post > .right {
    width: 100%;
}
.post > .right > .top {
    padding: 4px 0;
    margin-top: -4px;
    width: 100%;
}

.box-img-post { 
    margin-top: 0.5rem;
    width: 100%;
}
.box-img-post > img { 
    width: 100%;
    border-radius: 1rem;
    
}
.tags {
    margin-top: -10px;
    margin-bottom: 20px;
    display: flex; 
    gap: 10px;
}
.tags > small { 
    padding: 4px 15px;
    border-radius: 70px;
    text-transform: uppercase;
    font-size: 0.75em;
    color: black;
    background: rgba(23, 255, 178, 0.103);
}
.tags > small > b { 
    margin-right: 10px;
}
.txt-top-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.txt-top-post > button {
    padding: 0 5px 5px 5px;
}

.box-info-comments {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.box-info-comments > .right-ic { 
    opacity: 0.5;
    margin-right: 5px;
}
.box-info-comments > .left-ic > button {
    height: 50px;
}
.box-info-comments > .left-ic > button { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(160, 160, 160);
    font-weight: 100;
    border: none;
    transition: .3s;
}
.box-info-comments > .left-ic > button:hover {
    color: black;
    transition: .3s;
}
.box-info-comments > .left-ic > button:focus { 
    border: none;
}
.box-info-comments > .left-ic > button > span { 
    font-size: 0.9em;
}
.box-info-comments > .left-ic {
    display: flex;
    gap: 30px;
}

.box-info-comments > .left-ic > .btn-like:hover { 
    color: red ;
    transition: .3s;
}
.right-post { 
    width: 50px;
    display: flex;
    justify-content: space-around;
}



.parte-top-post { 
    width: 100%;
    gap: 10px;
    display: flex;
}

.parte-top-post > input { 
    width: 70%;
}
.parte-top-post > select { 
    width: 30%;
}

.parte-bottom-post > input {
    width: 40%;
}
.parte-bottom-post { 
    width: 100%;

    gap: 10px;
    display: flex;
}
.parte-bottom-post > button { 
    width: 60%;
}